<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eztood.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D5D525E2DD33F1200961B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5D52712DD33F1300961B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D5D527B2DD33F1300961B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
